.root {
    primary: #673AB7;
    dark-primary: #512DA8;
    light-primary: #D1C4E9;
    primary-text: #212121;
    secondary-text: #757575;
    accent-color: #7C4DFF;
    divider-color: #BDBDBD;
}

#InitPane {
    -fx-background-color: #fff;
}

#title {
    -fx-background-color: linear-gradient(to bottom, #7C4DFF, #673AB7);

    -fx-pref-height: 60;
}

#title_left {
    -fx-background-color: #fff;
    -fx-alignment: center;
    /* -fx-effect:dropshadow(one-pass-box, #bbb, 20, 0.05, 3, 8); */
}

#title_left .label {
    -fx-font-size: 28;
    -fx-text-fill: #707070;
}
#title_right .label {
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-alignment: center;
    -fx-text-fill: #fff;
}

#title .label:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, #fff,2,0.5,0,0);
}
#title .label:pressed {
    -fx-text-fill: #bbb;
}

#main_userIcon{
    -fx-cursor:hand;
    -fx-text-fill:#a0a0a0;
}

#main_usermag{
    -fx-background-color:#eee;
}

#main_sidebar {
    -fx-background-color:#fff;
    -fx-pref-width: 250px;
    -fx-spacing: 5;
    -fx-alignment: top-center;
    -fx-effect:dropshadow(one-pass-box, #bbb, 20, 0.05, 3, 8);
}

#main_sidebar .label {
    -fx-pref-width: 250;
    -fx-padding: 10 0 0 10;
}

#main_sidebar .button {
    -fx-pref-width: 250;
    -fx-background-color: #fff;
    -fx-pref-height: 50;
    -fx-padding:  0 20;
    -fx-border-width: 0 0 0 6px;
    -fx-border-height: 50;
    -fx-border-color: transparent;
    -fx-font-size: 20;
    -fx-alignment: center-left;
}

#main_sidebar .button:hover,
#main_sidebar .button:focused {
    -fx-text-fill: #673AB7;
    -fx-border-color: transparent transparent transparent linear-gradient(to bottom right, #7C4DFF, #673AB7);
    -fx-cursor: hand;
}

#main_sidebar .button:hover .image,
#main_sidebar .button:focused .image {
    -fx-effect: innershadow(one-pass-box, #673AB7, 2, 0.5, 0, 0); 
}



#content__stu-info__heading {
    -fx-alignment: center;
}

#content__stu-info__heading__name,#content__d__heading__DormID {
    -fx-font-size: 26px;
    -fx-text-fill: #212121;
}

#content__stu-info__banner {
    -fx-alignment: center;
    -fx-pref-width: 800;
    -fx-pref-height: 200;
}

#content__stu-info__heading .column-title,
#content__stu-info__banner .column-title,
#content__d__banner .column-title {
    -fx-text-fill: #757575;
    -fx-font-size: 16px;
}


#content__stu-info__heading .column-content {
    -fx-text-fill: #7C4DFF;
    -fx-font-size: 18px;
}

#content__stu-info__banner .column-content,
#content__d__banner .column-content
{
    -fx-text-fill: #512DA8;
    -fx-font-size: 26px;
}

#content__stu-info__revise-info .jfx-text-field {
    -jfx-focus-color: #673AB7;
}
.-jfx-date-picker {
    -jfx-default-color: #673AB7;
    -jfx-overlay: true;
}

#content__stu-info__revise-info .jfx-text-field:disabled {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}


#editorSaveStuInfo,
#cancelAccount,
#logout {
    -fx-background-color: #673AB7;
    -fx-text-fill: #fff;
    -jfx-button-type: RAISED;
}

#editorSaveStuInfo:hover,
#cancelAccount:hover,
#logout:hover {
    -fx-background-color: #7C4DFF;
    -fx-cursor: hand;
}

#content__course__schedule {
    -fx-alignment: center;
    -fx-max-height: 695;
    -fx-vgap: 2;
}

.course-schedule-item {
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

#content__d__Year.header,#content__d__Month.header,#content__d__Score.header,#content__d__Fare.header{
    -fx-background-color:#b196f3;
    -fx-font-size:20px;
}
#content__d__Year.table-column,
#content__d__Month.table-column,
#content__d__Score.table-column,
#content__d__Fare.table-column
{
    -fx-alignment:center;
}

#bank_info,#bank_pay,#bank_record
{
    -fx-text-fill:black;
    -fx-font-size:20px
}

#bank_name,#bank_num,#bank_balance
{
    -fx-text-fill: #757575;
    -fx-font-size: 17px;
}

#Lbank_name,#Lbank_num,#Lbank_balance
{
    -fx-text-fill: #512DA8;
    -fx-font-size: 26px;
}
#bank_wat_elec,#bank_tuition
{
    -fx-text-fill:#757575;
    -fx-font-size:17px;
}
#Lbank_wat_elec,#Lbank_tuition,#rmb1,#rmb2
{
    -fx-text-fill: #512DA8;
    -fx-font-size: 22px;
}

#pay_button1,#pay_button2,#recharge_button
{
    -fx-background-color: #673AB7;
    -fx-text-fill: #fff;
    -fx-font-size:16px;
    -jfx-button-type: RAISED;
}

#pay_button1:hover,
#pay_button2:hover {
    -fx-background-color: #7C4DFF;
    -fx-cursor: hand;
}

#time.column-header, #money.column-header,#reason.column-header {
    -fx-background-color:#b196f3;
    -fx-font-size:20px;
}

#time.table-column,#money.table-column,#reason.table-column{
    -fx-alignment: center;

}

#content__lib__Borrowed,#content__lib__Search,#content__lib__Inquire{
   -fx-background-color:#e9e9e9;
    -fx-font-size: 16px;
}

#content__lib__Inquire:hover,#content__lib__Search:hover,#content__lib__Borrowed:hover{
  -fx-background-color:#999999;
  -fx-text-fill:#fff;
  -fx-font-size: 16px;
}

#content__store__wrapper,
#content__cart__wrapper {
    -fx-pref-width: 920;
    -fx-padding: 30 0;
    -fx-spacing: 30;
    -fx-alignment: top-center;
}

#content__store__wrapper .title {
    -fx-font-size: 32;
    -fx-text-fill: #212121;
    -fx-padding: 5;
}

#content__store__wrapper .section {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-pref-width: 920;
}

#content__store__wrapper .section .row {
    -fx-pref-width: 920;
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-alignment: center-left;
}

#content__store__wrapper .section .label {
    -fx-text-fill: #7C4DFF;
}

#content__store__wrapper .section .label:hover,
.img:hover,
.jfx-button {
    -fx-cursor: hand;
}

.img:hover {
    -fx-effect:dropshadow(one-pass-box, #bbb, 20, 0.05, 3, 8);
}

#am_CampusCardID,#am_Nickname,#am_Name,#am_Role{
    -fx-font-size:20px;
}

#content__store__wrapper .section-header {
    -fx-spacing: 15;
    -fx-alignment: center;
}

#content__store__wrapper .section-header .icon {
    -fx-effect: innershadow(one-pass-box, #673AB7, 3, 5, 1, 0);
}

#content__Store__Cart__Pay {
    -fx-effect:dropshadow(one-pass-box, #bbb, 20, 0.05, 3, 8);
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #673AB7;
}

.jfx-tab-pane .tab-label {
    -fx-text-fill: #fff;
    -fx-font-weight: LIGHTER;
    -fx-padding: 15 35 10 35;
    -fx-font-size: 20;
}

.jfx-tab-pane .tab-label:hover {
    -fx-cursor: hand;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color : #DD9708;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #fff;
}

.jfx-tab-pane .headers-region > .tab-selected-line {
    -fx-pref-width: 1px !important;
    -fx-pref-height: 3px;
}

#content__Store__Cart__BatchRemove,#content__Store__Cart__Pay{
    -fx-background-color: #673AB7;
    -fx-text-fill: #fff;
    -jfx-button-type: RAISED;
}

#content__Store__Cart__BatchRemove:hover,#content__Store__Cart__Pay:hover{
    -fx-background-color: #7C4DFF;
    -fx-cursor: hand;
}

#content__Store__Cart__GrandTotalPrice
{
    -fx-text-fill: #512DA8;
    -fx-font-size: 26px;
}



#search
{
    -fx-background-color: #673AB7;
    -fx-text-fill: #fff;
    -fx-font-size:16px;
    -jfx-button-type: RAISED;
}

#search:hover
{
    -fx-background-color: #7C4DFF;
    -fx-cursor: hand;
}

#content__course__report {
    -fx-pref-width: 940;
    -fx-padding: 50 150;
    -fx-alignment: top-center;
    -fx-spacing: 20;
}

#content__course__report .heading {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 35 30;
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}

#content__course__report .heading .item {
    -fx-alignment: center;
    -fx-pref-width: 150;
    -fx-spacing: 10;
}

#content__course__report .heading .column-title {
    -fx-text-fill: #757575;
    -fx-font-size: 20;
}

#content__course__report .heading .column-content {
    -fx-text-fill: #512DA8;
    -fx-font-size: 36;
}

#content__course__report .report-item {
    -fx-spacing: 150;
    -fx-alignment: center-left;
    -fx-padding: 30 100;
}

#content__course__report .course-info {
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

#content__course__report .course-name {
    -fx-font-size: 24;
    -fx-text-fill: #212121;
}

#content__course__report .course-detail {
    -fx-spacing: 30;
}

#content__course__report .course-detail .label {
    -fx-font-size: 18;
    -fx-text-fill: #757575;
}
#content__course__report .score {
    -fx-font-size: 36;
    -fx-text-fill: #673AB7;
}

#wrapper__content__course__register {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#content__course__register {
    -fx-pref-width: 900;
    -fx-alignment: center;
    -fx-padding: 50;
    -fx-spacing: 10;
}

#content__course__register__name {
    -fx-pref-width: 250;
    -fx-alignment: top-left;
    -fx-spacing: 10;
    -fx-padding: 10;
}

#content__course__register__venue,
#content__course__register__schedule,
#content__course__register__status,
#content__course__register__op {
    -fx-pref-width: 150;
    -fx-alignment: top-left;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.register-item {
    -fx-pref-height: 100;
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-alignment: center-left;
}

.register-item__course-name {
    -fx-font-size: 22;
    -fx-text-fill: #673AB7;
}

.register-item__course-detail {
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-text-fill: #757575;
}

#welcomeLabel
{
    -fx-font-size:35;
    -fx-text-fill:#7B86EE;
}

#timeLabel
{
    -fx-font-size:18;
    -fx-text-fill:#7286EE;
}
#select-all {
    -fx-font-size: 18;
}
#select-all:hover {
    -fx-cursor: hand;
}