#main_title{
    -fx-background-color:#47a5eb;
}

#win_close {
    -fx-cursor:hand;
    -fx-text-fill:#a0a0a0;
}

#win_close:hover {
    -fx-text-fill:#fff;
}

#win_mini {
    -fx-cursor:hand;
    -fx-text-fill:#a0a0a0;
}

#win_mini:hover {
    -fx-text-fill:#fff;
}

#main_userIcon{
    -fx-cursor:hand;
    -fx-text-fill:#a0a0a0;
}

#main_usermag{
    -fx-background-color:#eee;
}

#main_sidebar{
    -fx-background-color:#eee;
}

.button{
    -fx-background-color:#eee;
    -fx-text-fill:#707070;
}

.button:hover{
    -fx-text-fill:#000;
        -fx-border-color: transparent transparent transparent #47a5eb;
        -fx-border-width:6px;
}